/* css reset */

*{
	border:0;
	margin:0;
	padding:0;
	}

body{
    background-color:#FFFAE5;
    font-family:tahoma;
}

@font-face{
	font-family:novafonte;
	src:url(fontes/LibreBaskerville-Regular.ttf);
	}


    main{
        position:relative;
        width:100%;
        height:auto;
        background-color:#FFFAE5;
        margin:auto;
        color:#F89;
        }


        #cabecalho{
            position:fixed;
            top:0;
            left:0;
            z-index:3;
            width:110%;
            height:60px;
            background-image: url(../Gracinha_Cake/imagens/Desktop - 1-1.svg);
            display:flex;
            flex-direction: row;
            align-items:center;
            justify-content: space-around;
            background-repeat:no-repeat;
            }
            
            #menu_esquerdo{
                position:relative;
                width:40%;
                height:auto;
                display:flex;
                align-items:center;
                flex-direction:row;
                justify-content:space-around;
                padding-top:20px;
                padding-bottom:20px;
              
                  }

                
            
            #menu_esquerdo a{
                font-size:16px;
                color:#03A688;
                text-decoration:none;
                margin-left: 20%;
            text-align:center;
                font-weight:bold;
                }
             #menu_esquerdo img{
                width: 150px;
                height: 50px;
                margin-left:20px;

                }
            #menu_esquerdo :hover{
                transform: scale(1.1);
    transition: all 0.5s;
  } 
            



            
 #menu_direito{
    position:relative;
    float:right;
    width:50%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:space-around;
    
   
}
#menu_direito img{
	width:100%;
	height:100%;
	}
.delivery{
	text-align:center;
	font-size:12px;
	color:#FFF;
	text-decoration:none;
	width:150px;
	height:auto;
	float:left;
	background-color:#F24495;
	padding-top:20px;
	padding-bottom:18px;
	font-weight:bold;
    margin-left: 50%;
    text-decoration: none;
   
   
    
	}
    #menu_direito :hover{
        background-color:#8fe0d3;
        transition: all 0.5s ease-in;
    }
         /* MENU*/


    #carrosel1{
        position:relative;
        clear:both;
    }

    #centralizar{
            position:relative;
            width:96%;
            margin-top: 15px;
            height:350px;
            padding:2%;
            display:flex;
            flex-direction:row;
          justify-content:space-around;
    }

    .foto_bolo{
        position:relative;
        width:50%;
        background-image:url(../Gracinha_Cake/imagens/bolo22.jpg);
        background-repeat: no-repeat;
        margin-top: 15px;
        height:350px;
        padding:1%;

    }
        


.saiba_mais{
    position:relative;
	text-align:center;
	font-size:12px;
	color:#FFF;
	text-decoration:none;
	float:left;
	background-color:#F24495;
	padding-top:20px;
	padding-bottom:18px;
	font-weight:bold;
	width:250px;
	font-size:15px;
	padding:5%;
	padding-bottom:10px;
}
 


#lado_esquerdo{
	position:relative;
	width:40%;
	height:400px;
	float:left;
	margin-right:200px;

	}

.titulo_meio {
    position:relative;
	font-weight:bold;
	color:#FFC925;
    width:30%;
    font-size: 35px;
    margin-top: 15px;
    height:350px;
    padding:1%;
    text-decoration: none;
	}
    .titulo_meio p {
        font-size: 25px;
        position:relative;
        font-weight:bold;
        color:#03A688;
        
    }
  

    #quem_somos{
        position:relative;
        width:98%;
        margin:auto;
        margin-top: 15px;
        height:400px;
        padding:1%;
        display:flex;
        flex-direction:row;
      justify-content:space-around;
    }

        #instala{
            position:relative;
            width:40%;
            margin-top: 40px;
            height:350px;
            padding:1%;
            text-decoration: none;
        }
        #venha{
            position:relative;
            font-weight:bold;
            font-size:35px;
            width:40%;
            margin-top:60px;
            height:350px;
            padding:1%;
         
        }

        .galeria{
            position:relative;
            text-align:center;
            font-size:18px;
            color:#FFF;
            text-decoration:none;
            width:300px;
            height: 80px;;
            background-color:#F2A30F;
            font-weight:bold;
            float:left;
          padding:17px;
          text-decoration: none;
           
        }
        #instala a:hover{
            background-color:#ffb5b5;
            transition: all 0.5s ease-in;
        }
    
    
            #contato{
                text-align:center;
                position:relative;
                width:100%;
                height:600px;
                margin:auto;
                padding-top:20px;
                margin-top: 70px;
                }

        #mapa{
            margin-top: 100px;
            position:relative;
            width:50%;
            height:350px;
            padding:1%;  
            
            }

#lado_esquerdo p{
	font-family:verdana;
	font-size:23px;	
	color: #03A688;
	height:400px;
    margin-right:320%;
    width:130%;
 
    font-weight:bold;
    margin-top:10%;
	}
    
  
#topo{
	position:relative;
	width:100%;
	height:auto;
	}
    
    #preferencia{
        position:relative;
        font-weight:bold;
        text-align: center;
        color:#F2226E;
        font-size: 35px;
        width:96%;
        margin-top: 250px;
        padding:2%;
    }

    #menu{
        position:relative;
        width:100%;
        height:350px;
        margin-top:15px;
        display:flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-around;
    padding:2%;

        }

        #menu img{
            width:30%;
            height:35%;
        }

     .menus{
        position:relative;
        width:20%;
        height:230px;
        background-color:rgb(255, 242, 170);
        margin:40px;
        margin-top:40px;
        text-align:center; 
        color:#F2226E;  
        font-weight: bold;     
        font-size:12px;
        padding:10px;
        border:2px solid #FFC925;
        border-radius: 2%;
        transition: all 0.5s;
        cursor: pointer;
     }   
     
     .menus:hover{
         -webkit-transform: scale(1.5);
         transform: scale(1.2);
     }

     #menu img{

        width:50%;
        height:100px;
        border:5px solid rgb(255, 255, 255);
       

     }
     
     #menu a{
        position:relative;
        text-align:center;
        font-size:13px;
        color:#FFF;
        text-decoration:none;
        width:90%;
        margin:5%;
        height:30px;
        float:left;
        margin-top:5px;
        background-color:#ffcb6a;
        padding-top:5px;
        padding-bottom:5px;
        font-weight:bold;
        ;
      
       
        }
        #menu a:hover{
            background-color:#ffe8bc;
            transition: all 0.5s ease-in;
        
        }
	
	
#form1{
	width:50%;
	height:400px;
    border:2px solid #333;
	margin:5%;
margin-left: 25%;
    text-align:center;
    margin-top:40px;
    justify-content: center;
}
#mensagem{

    margin-top: 20px;
}
input{
	width:80%;
	height:30px;
	margin:auto;
	margin-top:40px;
    border:2px solid #333;

}

        label{
            color:#F2226E;
            font-weight: bold;
            text-align:left;
            height: 30px;
            width:20%;
        }
         textarea{
            border:2px solid #333;
            width:400px;
            color:rgb(14, 13, 13);
            font-size:16px;
            margin:auto;
            padding:5px;
            height:200px;
            background-color: #FFFAE5;
            font-weight: bold;
     
        }
    
        #enviar{
            height: 30px;
            width:80%;
            margin-top: 20px;
            color:#F2226E;
            font-weight: bold;


        }
            


        
         h1{
             text-align:center;
             color:#F2A30F;
             margin-top: 30px;
         }

         footer{
            position:relative;
            width:100%;
            height:100px;
            background-color:rgb(5, 1, 1);
            text-align: center;
            padding-top:50px;
            
            }
			.carousel-inner{
				height:600px;
				display:both;
                transition-timing-function: all 0.1s ;
			}
